@media screen and (max-width: 1024px) 
{   
    .mdui-list-item
    {
        border-radius: 0 24px 24px 0;
        margin-right: 10px;
    }
}
#bar-title
{
    font-size: large;
}
.mdui-card
{
    border-radius: 6px;
    padding: 0;
}
.mdui-container
{
    padding-top: 10px;
}
@media screen and (min-width: 1024px) {
    .mdui-container
    {
        padding: 2%;
        width: 80%;
    }
}
.card-container
{
    padding:10px;
}
.card-img
{
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
.mdui-card-media
{
    height: 25vw;
}
@media screen and (max-width: 1024px)
{
    .mdui-card-media
    {
        height: 40vw;
    }
}
.mdui-toolbar-light
{
    background: #fff;
}
.mdui-toolbar-dark
{
    background: rgb(48, 48, 48);
}
.no-shadow
{
    box-shadow: none;
}
.write
{
    padding: 2%;
    margin: 5%;
    height: 80%;
}
#article
{
    height: 50vh; 
}
.btn
{
    margin: 2px;
}
.article-card
{
    padding: 0;
    margin: 5%;
}
.article
{
    margin: 2vw;
}
@media screen and (max-width: 1024px)
{
    .article
    {
        margin: 5vw;
    }
}